* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	margin: 0;
	font-family: "Trebuchet MS", "verdana",  Helvetica, arial, sans-serif;
}
p{
    font-size: 12px;
    line-height: 20px;
    color: #585858;
    line-height: 20px;
    position: relative;
    zoom:1;
}
.ie10 p{
	font-size: 11px;
}
ul{
	margin:0;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
input:focus{
    outline:none;
}

/*@font-face {
	font-family: "Trebuchet MS";
	src: url(Trebuchet.ttf) format("truetype");
}*/
@font-face {
	font-family: "Helios Black";
	src: url('HeliosBlack.otf') format("opentype");
}
@font-face {
	font-family: "Helios IE";
	src: url(helioscond.bold.eot);
}

.lW { float: left; clear: left; height: 15px; }
.rW { float: right; clear: right; height: 15px; }

input::-webkit-input-placeholder {
	font-size: 12px;
	color: #dadada;
	font-style: italic;
	font-weight: lighter;
	line-height: 12px;
	font-family: "Trebuchet MS";
}
input::-moz-placeholder {
	font-size: 12px;
	color: #dadada;
	font-style: italic;
	font-weight: lighter;
	line-height: 12px;
	font-family: "Trebuchet MS";
}
input::-ms-input-placeholder{
	font-size: 12px;
	color: #dadada;
	font-style: italic;
	font-weight: lighter;
	line-height: 12px;
	font-family: "Trebuchet MS";
}

.container{
	width: 1400px;
	max-width: 95%;
	margin: 0 auto;
	margin-top: 20px
}

.input{
	position: relative;
	zoom: 1;
}

.input input{
	width: 25%;
	height: 24px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	border-style:solid;
 	border-width:1px;
 	border-color: #cccccc;
	padding: 3px 15px;
	float: right;
}


.header{
	position: relative;
	margin-top: 0px;
	zoom:1;
}
.header .logo{
	height: 100px;
	width: 250px;
	background-color: #1ec8ed;
	border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
	color: white;
	text-align: center;
	
	font-size: 30px;
	line-height: 100px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	font-family: "Helios Black";
}
.ie .header .logo{
	font-family: "Helios IE";
}
.clearfix:after{
    clear: both;
    content: " ";
    display: block;
}

.header .headerMenu {
	position: absolute;
	bottom: 0;
	right: 0;
}
.header .headerMenu ul{
	list-style-type: none;
	text-align: center;
	padding: 25px 0;
	border-bottom: 1px solid #e7e7e7;
}
.header .headerMenu ul li{
	display: inline-block;
	zoom: 1;
	*display: inline;
	height: 50px;
	padding: 0 30px;
	border-left: 1px solid #e7e7e7;
	line-height: 50px;
	font-size: 16px;
	vertical-align: middle;
}
.ie10 .header .headerMenu ul li{
	font-size: 15px;
}
.header .headerMenu ul li.bigText{
	line-height: 25px;
}
.header .headerMenu ul li:first-child {
	border-color: transparent;
}
.header .headerMenu ul a {
	color: #1ec8ed;
	display: block;
}
.header .headerMenu ul a:hover{
	color: #49d0ee;
}


.backgroundImage{
	height: 631px;
	position: absolute;
	margin-top: -480px;
	background: transparent url(figureWithSticks.png) no-repeat;
	background-position: 40% center;
	width: 100%;

}
.topText{
	min-height: 316px;
	position: relative;
	z-index: 6;
	margin-bottom: 135px;
	margin-top: 60px;
	zoom: 1;
	display: inline-block;
}
.bottomText{
	min-height: 180px;
	position: relative;
	z-index: 5;
}
.content .leftTopText{
	width: 40%;
	position: relative;
	float: left;
}
.content .rightTopText{
	width: 27%;
	text-align: right;
	position: relative;
	float: right;
	margin-right: 25%;
	left: 0;
}
.content .leftBottomText{
	width: 41%;
	position: relative;
	float: left;
	clear: left;
}
.content .rightBottomText{
	width: 25%;
	position: relative;
	z-index: 3;
	float: right;
	clear: right;
}
.underContentText{
	padding-top: 30px;
	position: relative;
	margin-bottom: 100px;
	zoom:1;
}
.content .smallUnderContentText{
	display: none;
	position: relative;
	zoom:1;

}



.bottomMenu{
	padding: 35px 0;
	border-top: 1px solid #cccccc;
}
.bottomMenu ul{
	list-style-type: none;
	float: left;
	padding: 0;
}
.bottomMenu ul a{
	color: #3accee;
}
.bottomMenu ul a:hover{
	color: #49d0ee;
}
.bottomMenu ul li{
	display: inline-block;
	zoom: 1;
	*display: inline;
	line-height: 20px;
	border-left: 1px solid #cccccc;
	padding: 0 10px;
	font-size: 12px;
}
.bottomMenu ul li:first-child {
	padding-left: 0;
	border: none;
}

.bottomMenu .copyright{
	font-size: 12px;
	float: right;
	line-height: 20px;
	width: 25%;
}
.bottomMenu .copyright a{
	color:  #3accee;
	text-decoration: underline;
}
.bottomMenu .copyright a:hover{
	color: #49d0ee;

}





@media only screen and (max-width: 1000px){
	p{
		margin: 10px;
	}
	.lW, .rW{
		display: none;
	}
	.input{
		display: none;
	}
	.header .logo{
		display: inherit;
		margin-top: 44px;
	}
	.header .headerMenu {
		float: none;
		display: inherit;
		position: relative;
		zoom:1;
	}
	.header .headerMenu ul{
		border-bottom: none;
		padding: 40px 0;
	}
	.header .headerMenu ul li{
		width: 100%;
		border: none;
		background-color: #1ec8ed;
		border-radius: 5px;
		-moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -o-border-radius: 5px;
		margin: 1px 0;
		font-size: 16px;
		padding: 0;
	}
	.header .headerMenu ul a{
		display: block;
		color: white;
	}
	.header .headerMenu ul li:hover {
		background-color: #49d0ee;
	}
	.header .headerMenu ul li:hover a{
		color: white;
	}
	.header .headerMenu ul li.bigText{
		line-height: 50px;
		width: 100%;
	}

	.backgroundImage{
		display: none;
	}
	.content{
		background: transparent url(figure.png) no-repeat;
		background-position: center;
		min-height: 631px;
	}
	.content .textBackground{
		height: 100%;
		position: absolute;
		width: 100%;
		background-color: white;
		opacity: 0.4;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
	}

	.content .topText{
		padding-top: 65px;
		margin-bottom: 50px;
		position: relative;
		zoom: 1;
		margin-top: 0px;
		min-height: 0px;
	}
	.content .rightText{
		width: 49%;
		position: relative;
		zoom:1;
		left: 0;
		top: 0;
		text-align: left;
		overflow: hidden;
		display: inline-block;
		zoom: 1;
		*display: inline;
		vertical-align: top;
	}
	.content .rightTopText{
		margin-right: 0px;
		margin-top: 0px;
	}
	.content .rightText p{
		padding-left: 10px;
	}
	.content .bottomText{
		margin-bottom: 50px;
		position: relative;
		zoom: 1;
		min-height: 0px;
	}
	.content .leftText{
		width: 49%;
		position: relative;
		bottom: 0;
		top: 0;
		display: inline-block;
		zoom: 1;
		*display: inline;
		overflow: hidden;
		margin-right: 1%;

	}
	.content .smallUnderContentText{
		display: inline-block;
		zoom: 1;
		*display: inline;
		margin-bottom: 0;
		padding-top: 0;
	}
	.underContentText{
		display: none;
	}


	.bottomMenu .copyright{
		margin: 0;
		width: auto;
	}
}
@media only screen and (max-width: 710px){
	.bottomMenu .copyright{
		padding-top: 20px;
		float: none;
		text-align: center;
	}
	.bottomMenu ul{
		float: none;
		text-align: center;
		padding: 0
	}
}
@media only screen and (max-width: 631px){
	.content{
		height: 100%;
		background-position: center;
		background-size: 100% auto;
	}
	.content .rightText{
		float: none;
		width: 100%;
		margin-bottom: 50px;
	}
	.content .leftText{
		float: none;
		width: 100%;
		margin-bottom: 50px;
	}
	.content .topText{
		margin: 0;
		padding-top: 0;
	}
	.content .bottomText{
		margin: 0;
	}
	.content .rightText p{
		padding-left: 0;
	}

	.bottomMenu ul li{
		border: none;
		display: block;
		padding: 7px 0;
	}




}






















